DE0_nano/db
DE0_nano/incremental_db
DE0_nano/output
DE0_nano/simulation/modelsim
**/greybox_tmp
**/*_tags.txt
PC_WPF35/debug_monitor/debug_monitor/bin
PC_WPF35/debug_monitor/debug_monitor/obj
PC_WPF35/**/*.user
PC_WPF35/**/*.suo
PC_TCL/mapper/port_capture.txt
